<div class="card">
  <div class="card-content">
    <span class="card-title">User</span>
    <hr>
    <br>

    <!--users table-->
    <p>Available users. An user can only change details of current account.</p>

    <table class="highlight centered">
      <thead>
      <tr>
        <th>User ID</th>
        <th>User name</th>
        <th>Full name</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>00021</td>
        <td>Eclair</td>
        <td>Brendon McCullum</td>
        <td>brendon.mc@gmail.com</td>
      </tr>
      <tr>
        <td>00021</td>
        <td>Eclair</td>
        <td>Brendon McCullum</td>
        <td>brendon.mc@gmail.com</td>
      </tr>
      <tr>
        <td>00021</td>
        <td>Eclair</td>
        <td>Brendon McCullum</td>
        <td>brendon.mc@gmail.com</td>
      </tr>
      </tbody>
    </table>
    <br>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><span>Profile | <b>Lahiru Sampath Vithanage</b></span></div>
        <div class="collapsible-body">
          <form>
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" id="user_name_input" class="validate">
                <label for="user_name_input">User name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="full_name_input" class="validate">
                <label for="full_name_input">Full name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="email_input" class="validate">
                <label for="email_input">Email</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="text" id="password_input" class="validate">
                <label for="password_input">Password</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="text" id="confirm_password_input" class="validate">
                <label for="confirm_password_input">Confirm password</label>
              </div>
              <div class="col s12">
                <button class="btn waves-effect waves-light" style="width: 100%; margin-top: 2%;" type="submit" name="action">
                  Update Details
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><span>Add New User</span></div>
        <div class="collapsible-body">
          <form>
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" id="user_name_new" class="validate">
                <label for="user_name_new">User name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="full_name_new" class="validate">
                <label for="full_name_new">Full name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="email_new" class="validate">
                <label for="email_new">Email</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="text" id="password_new" class="validate">
                <label for="password_new">Password</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="text" id="confirm_password_new" class="validate">
                <label for="confirm_password_new">Confirm password</label>
              </div>
              <div class="col s12">
                <button class="btn waves-effect orange waves-yellow" style="width: 100%; margin-top: 2%;" type="submit" name="action">
                  Add User
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
