<div class="card">
  <div class="card-content">
    <span class="card-title">User</span>
    <hr>

    <!--users table-->
    <p>Available users. An user can only change details of current account.</p>
    <table>
      <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Item Price</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
      </tbody>
    </table>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><span><b>Lahiru Sampath Vithanage</b></span></div>
        <div class="collapsible-body">
          <form action="submit">
            <input type="text">
            <input type="text">
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
