<div class="card">
  <div class="card-content">
    <span class="card-title">User</span>
    <hr>
    <br>

    <!--users table-->
    <p>Available users. An user can only change details of current account.</p>

    <table class="highlight centered">
      <thead>
      <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Full name</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
      </tr>
      </tbody>
    </table>
    <br>

    <ul class="collapsible"materialize="collapsible">
      <li>
        <div class="collapsible-header"><span>Profile | <b>{{fullName}}</b></span></div>
        <div class="collapsible-body">
          <form action="submit" [formGroup]="currentUserForm" (ngSubmit)="updateCurrentUser()">
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" id="user_name_input" class="validate" formControlName="userName" >
                <label for="user_name_input">User name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="full_name_input" class="validate" formControlName="fullName">
                <label for="full_name_input">Full name</label>
              </div>
              <div class="input-field col s12">
                <input type="email" id="email_input" class="validate" formControlName="email">
                <label for="email_input">Email</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="password" id="password_input" class="validate" formControlName="password">
                <label for="password_input">New Password</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="password" id="confirm_password_input" class="validate" formControlName="confirm">
                <label for="confirm_password_input">Confirm password</label>
              </div>
              <div class="col s12">
                <button class="btn waves-effect waves-light" style="width: 100%; margin-top: 2%;"
                        type="submit" name="action" [disabled]="!currentUserForm.valid">
                  Update Details
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>

    <ul class="collapsible"materialize="collapsible">
      <li>
        <div class="collapsible-header"><span>Add New User</span></div>
        <div class="collapsible-body">
          <form action="submit" [formGroup]="newUserForm" (ngSubmit)="addNewUser()">
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" id="new_user_name_input" class="validate" formControlName="userName">
                <label for="new_user_name_input">User name</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="new_full_name_input" class="validate" formControlName="fullName">
                <label for="new_full_name_input">Full name</label>
              </div>
              <div class="input-field col s12">
                <input type="email" id="new_email_input" class="validate" formControlName="email">
                <label for="new_email_input">Email</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="password" id="new_password_input" class="validate" formControlName="password">
                <label for="new_password_input">Password</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="password" id="new_confirm_input" class="validate" formControlName="confirm">
                <label for="new_confirm_input">Confirm password</label>
              </div>
              <div class="col s12">
                <button class="btn waves-effect orange waves-yellow" style="width: 100%; margin-top: 2%;"
                        type="submit" name="action" [disabled]="!newUserForm.valid">
                  Add User
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
